<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View All Cards</title>
<style>
body{
	padding-left: 25%;
	padding-right: 25%;
	background-color: lightcyan;
}

.main{	
	border-style: solid;
	background-color: powderblue;
	border-color: lightskyblue;
	padding-left: 25px;
	padding-right: 25px; 
}
div{
	padding-bottom: 15px;
}
h1{
	padding-bottom: 25px; 
}
th{
	padding-right: 50px;
}
</style>
</head>
<body>
<div class="main">
	<h1>Card Information</h1>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<form>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Name</th>	
								<th scope="col">Type</th>
								<th scope="col">Number</th>		
								<th scope="col">Pin</th>
								<th scope="col">Balance</th>							
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="${card.cardName}"/>
								<td th:text="${card.type}"/>
								<td th:text="${card.cardNumber}">
								<td th:text="${card.pin}"/>
								<td th:text="${card.balance}">
								<td><a th:href="@{/viewAllTransactions/{id}(id=${id})}">View</a></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			<div class="col">
				<p><a th:href="@{/inputCard/{id}(id=${id})}" class="btn" role="button">Create a new card</a></p>
				<p><a href="/">Home page</a></p>
			</div>
		</div>
	</div>
</div>
</body>
</html>