<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View All Customers</title>
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<form>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">AccountNumber</th>
								<th scope="col">Name</th>
								<th scope="col">Address</th>
								<th scope="col">Birth Date</th>
								<th scope="col">Phone Number</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="${Customer.id}" />
								<td th:text="${Customer.name}">
								<td th:text="${Customer.address}" />
								<td th:text="${Customer.birthDate}" />
								<td th:text="${Customer.phoneNumber}" />
								<td><a
									th:href="@{/viewAllAccountCards/{id}(id=${Customer.id})}">View
										Cards</a></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
			<div class="col">
				<p><a href="/inputCustomer" class="btn" role="button">Create a new
					customer</a></p>
					 <p><a href="@{/viewAllCustomers}">Home page</a></p>
			</div>
		</div>
	</div>
</body>
</html>