<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript">
    function clearSearch() 
    {
        window.location = "[[@{/}]]";
    }
</script>
<style>

body{
	padding-left: 25%;
	padding-right: 25%;
	background-color: lightcyan;
}

.main{
	text-align: center;
	border-style: solid;
	background-color: powderblue;
	border-color: lightskyblue;
}

.searchBar{
	padding-top: 50px;
	padding-bottom: 25px;
}

table.table{
	padding-left: 40%;
	padding-bottom: 100px;
}


</style>
</head>
<body>
<div class="main">
<h1>Digital Wallet</h1>
<a href="viewAllCustomers">View all customers</a><br />
<a href="inputCustomer">Add a new customer</a><br />
<br />

<form th:action="@{/}" class="searchBar">
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" onclick="showHide()"/>
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form>
<h3>Search results</h3>

 <table class="table table-striped" id="searchTable">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>								
			</tr>
		</thead>
	<tbody>
			<tr th:each="currentCustomer : ${listCustomer}">
			<td th:text="${currentCustomer.id}">
			<td th:text="${currentCustomer.name}"/>
			<td><a th:href="@{/viewCustomer/{id}(id=${currentCustomer.id})}">View</a></td>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>